*{
     margin: 0;
     padding: 0;
}

body{
     background-color: #100F11;
}

.nav-dark{
     border-bottom: 3px solid #a2d821;
     color: #969c3a;
     background-color: transparent;
}

.nav-white{
     border-bottom: 3px solid #540514;
     color: #100F11;
     background-color: transparent ;
}

#logoIMG{
     width: 13rem;
     margin-left: 1rem;
}

ul{
     list-style-type: none;
     margin: auto;
}

li{
     padding-left: 5rem; 
}

a.active{
     color: red;
}

#mode{
     cursor: pointer;
     font-size: large;
     margin-left: 5rem;
     margin-right: 5rem;
}

#user{
     cursor: pointer;
     font-size: x-large;
     margin: 1rem;
}

.main{
     background-image: url('Image/one.jpg');
     background-size: cover;
     width: 100%;
     height: 45rem;
}

.hero-content{
     padding-top: 16rem;
     padding-left: 3rem;
}

.main-content h1{
     animation: heroAni 1.6s ease-in-out 0.2s 1;
     font-family:'Bebas Neue';
     letter-spacing: 0.6vw;
     font-size: 55px;
     text-shadow: 2.3px 2.3px 2.3px #100F11;
     font-weight: 900;
     color: white;
}

@keyframes heroAni {
     0%{
          transform: translateX(-50%);
          opacity: 0;
     }
     100%{
          transform: translateX(0);
          opacity: 1;
     }
}

.main-extra{
     animation: extraAni 1.6s ease-in-out 0.2s 1;
     gap: 1.2rem;
     display: flex;
     align-items: center;
     padding-top: 0.8rem;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes extraAni {
     0%{
          transform: translateX(50%);
          opacity: 0;
     }
     100%{
          transform: translateX(0);
          opacity: 1;
     }
}


#line{
     width:6rem;
     height: 0.2rem;
     background-color: orangered;
}

.second-main{
     height: 30rem;
     width: 100%;
     margin-top: 3rem;
}

.need-black{
     color: aliceblue;
     text-shadow: 1px 1px 1px aliceblue , -1px 1px 1px aliceblue ,1px -1px 1px aliceblue ,-1px -1px 1px aliceblue ;
     font-weight: 500;
     text-align: center;
}

.need-white{
     color: #321F44;
     text-shadow: 1px 1px 1px #321F44 , -1px 1px 1px #321F44 ,1px -1px 1px #321F44 ,-1px -1px 1px #321F44 ;
     font-weight: 500;
     text-align: center;
}

.card{
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: transparent;
     color: wheat;
     height: 380px;
     text-align: center;
     border: none;
}

.card h4{
     color: orangered;
     font-weight: 500;     
}

.card p{
     letter-spacing: 0.5px;
     word-spacing: 0.7px;
     color: rgb(178, 190, 202);
     line-height: 29px;

}

.card img{
     box-shadow: 2px 2px 3px red , -2px 2px 3px red ,2px -2px 3px red ,-2px -2px 3px red ;
     width: 8%;
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
}

@media screen and (max-width: 500px){
     .card img{
          width: 19%;
     }
}
