*{
     margin: 0;
     padding: 0;
}

body{
     background-color: #100F11;
}
/* NAVBAR */
.nav-dark{
     border-bottom: 3px solid #a2d821;
     color: #969c3a;
     background-color: transparent;
}

.nav-white{
     border-bottom: 3px solid #540514;
     color: #100F11;
     background-color: transparent ;
}

#logoIMG{
     width: 13rem;
     margin-left: 1rem;
}

ul{
     list-style-type: none;
     margin: auto;
}

li{
     padding-left: 5rem; 
}

a.active{
     color: red;
}

#mode{
     cursor: pointer;
     font-size: large;
     margin-left: 5rem;
     margin-right: 5rem;
}

#user{
     cursor: pointer;
     font-size: x-large;
     margin: 1rem;
}

/* HERO BACK MAIN */

.main{
     background-image: url('Image/one.jpg');
     background-size: cover;
     width: 100%;
     height: 45rem;
}

.hero-content{
     padding-top: 16rem;
     padding-left: 3rem;
}

.main-content h1{
     animation: heroAni 1.6s ease-in-out 0.2s 1;
     font-family:'Bebas Neue';
     letter-spacing: 0.6vw;
     font-size: 55px;
     text-shadow: 2.3px 2.3px 2.3px #100F11;
     font-weight: 900;
     color: white;
}

@keyframes heroAni {
     0%{
          transform: translateX(-50%);
          opacity: 0;
     }
     100%{
          transform: translateX(0);
          opacity: 1;
     }
}

.main-extra{
     animation: extraAni 1.6s ease-in-out 0.2s 1;
     gap: 1.2rem;
     display: flex;
     align-items: center;
     padding-top: 0.8rem;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes extraAni {
     0%{
          transform: translateX(50%);
          opacity: 0;
     }
     100%{
          transform: translateX(0);
          opacity: 1;
     }
}


#line{
     width:6rem;
     height: 0.2rem;
     background-color: orangered;
}

/* WHY WE NEED GYM? */

.second-main{
     height: auto;
     width: 100%;
     margin-top: 3rem;
}

.need-black{
     color: aliceblue;
     text-shadow: 1px 1px 1px aliceblue , -1px 1px 1px aliceblue ,1px -1px 1px aliceblue ,-1px -1px 1px aliceblue ;
     font-weight: 500;
     text-align: center;
}

.need-white{
     color: #321F44;
     text-shadow: 1px 1px 1px #321F44 , -1px 1px 1px #321F44 ,1px -1px 1px #321F44 ,-1px -1px 1px #321F44 ;
     font-weight: 500;
     text-align: center;
}

.card{
     margin-top: 10px;
     background-color: transparent;
     color: wheat;
     height: 380px;
     text-align: center;
     border: none;
}

.card h4{
     color: orangered;
     font-weight: 500;     
}

.card p{
     letter-spacing: 0.5px;
     word-spacing: 0.7px;
     color: rgb(178, 190, 202);
     line-height: 29px;
}

.card img{
     box-shadow: 2px 2px 3px red , -2px 2px 3px red ,2px -2px 3px red ,-2px -2px 3px red ;
     width: 8%;
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
}

/* FITNESS SECTION */

/* main for fitness */
#fitness{
     background: url('Image/fullGym.png');
     background-size: cover;
     background-attachment: fixed;

}
.fitness-head{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 1rem;
}

.line{
     width:20rem;
     height: 0.3rem;
     background-color: orangered;
}
.fitness-head h4{
     text-align: center;
     font-size: 30px;
     color: rgb(104, 37, 94);    
}


/* the container gym (grid) */


.gym{
     width: 100%;
     height: auto;
     display: grid;
     place-items: center;
     grid-template-areas:
          'one two three';
     margin-top: 2.4rem;
}

.gym-intro{
     background-color: rgba(245, 245, 245, 0.541);
     margin-bottom: 2.4rem;
     width : 85%;
     height: 25rem;
     font-size: 45px;
     text-align: center;
}

#gym1{
     grid-area: one;
}
#gym2{
     grid-area: two;
}
#gym3{
     grid-area: three;
}

.visibilityForIntro{
     visibility: hidden;
}

.visible{
     visibility: "visible";
}

.more-about{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 2rem;
     width: 100%;
     height: auto;
     color: whitesmoke;
     background-color : blue;
}

#just{
     margin-top: 3.9rem;
}

.more-about h6{
     padding-top: 5px;
     font-size: 21px;
}

.more-about i{
     font-size: large;
}

.aniForGymInfo{
     animation: aniForGymInfo 1s ease-out 1;
}

@keyframes aniForGymInfo {
     0%{
          transform: translateY(50%);
          opacity: 0;
     }
     100%{
          transform: translateY(0%);
          opacity: 1;
     }
}
.aniForGymIntro{
     animation: gymIntroAni 1s ease-out 1;
}

@keyframes gymIntroAni {
     0%{
          transform: translateY(-50%);
          opacity: 0;
     }
     100%{
          transform: translateY(0%);
          opacity: 1;
     }
}

.gym-intro p{
     padding: 2vw;
     font-size: 20px;
     color: black;
     font-family: 'Quicksand';
}

@media screen and (max-width:500px) {
     .card img{
          width: 19%;
     }

     .gym{
          grid-template-areas: 
          'one'
          'two'
          'three';
          row-gap: 1rem;
     }
          
     .line{
          width:0rem;
          height: 0rem;
          background-color: '';
     }

     .fitness-head{
          display: '';
          justify-content: '';
          align-items: '';
          margin-top: 1.3rem;
     }

     .more-about{
          margin-top: 4.2rem;
     }

     #just{
          margin-top: 6.2rem;
     }
}
