* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     scroll-behavior: smooth; 
     background-color: #100F11;
}

/*---------------------------------NAVBAR-------------------------------*/

.nav-dark {
     border-bottom: 3px solid #a2d821;
     color: #969c3a;
     background-color: transparent;
}

.nav-white {
     border-bottom: 3px solid #540514;
     color: #100F11;
     background-color: transparent;
}

#logoIMG {
     width: 13rem;
     margin-left: 1rem;
}

nav ul {
     list-style-type: none;
     margin: auto;
}

nav li {
     padding-left: 5rem;
}

a.active {
     color: red;
}

#mode {
     cursor: pointer;
     font-size: large;
     margin-left: 5rem;
     margin-right: 5rem;
}

#user {
     cursor: pointer;
     font-size: x-large;
     margin: 1rem;
}

/*---------------------------------HERO BACK MAIN-------------------------------*/

.main {
     background-image: url('Image/one.jpg');
     background-size: cover;
     width: 100%;
     height: 45rem;
}

.hero-content {
     padding-top: 16rem;
     padding-left: 3rem;
}

.main-content h1 {
     animation: heroAni 1.6s ease-in-out 0.2s 1;
     font-family: 'Bebas Neue';
     letter-spacing: 0.6vw;
     font-size: 55px;
     text-shadow: 2.3px 2.3px 2.3px #100F11;
     font-weight: 900;
     color: white;
}

@keyframes heroAni {
     0% {
          transform: translateX(-50%);
          opacity: 0;
     }

     100% {
          transform: translateX(0);
          opacity: 1;
     }
}

.main-extra {
     animation: extraAni 1.6s ease-in-out 0.2s 1;
     gap: 1.2rem;
     display: flex;
     align-items: center;
     padding-top: 0.8rem;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes extraAni {
     0% {
          transform: translateX(50%);
          opacity: 0;
     }

     100% {
          transform: translateX(0);
          opacity: 1;
     }
}


#line {
     width: 6rem;
     height: 0.2rem;
     background-color: orangered;
}

/*----------------WHY WE NEED GYM ?------------------------------------------------*/

.second-main {
     height: auto;
     width: 100%;
     margin-top: 3rem;
}

.need-black {
     color: aliceblue;
     text-shadow: 1px 1px 1px aliceblue, -1px 1px 1px aliceblue, 1px -1px 1px aliceblue, -1px -1px 1px aliceblue;
     font-weight: 500;
     text-align: center;
}

.need-white {
     color: #321F44;
     text-shadow: 1px 1px 1px #321F44, -1px 1px 1px #321F44, 1px -1px 1px #321F44, -1px -1px 1px #321F44;
     font-weight: 500;
     text-align: center;
}

#home .card {
     margin-top: 10px;
     background-color: transparent;
     color: wheat;
     height: 380px;
     text-align: center;
     border: none;
}

#home .card h4 {
     color: orangered;
     font-weight: 500;
}

#home .card p {
     letter-spacing: 0.5px;
     word-spacing: 0.7px;
     color: rgb(178, 190, 202);
     line-height: 29px;
}

#home .card img {
     box-shadow: 2px 2px 3px red, -2px 2px 3px red, 2px -2px 3px red, -2px -2px 3px red;
     width: 8%;
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
}

.thoughts {
     height: auto;
     width: auto;
     color: #f5f5f5;
     text-align: center;
     margin-bottom: 3rem;
}

@media screen and (min-width:500px) {   
     .thoughts {
          margin-top: -4rem;
     }
}

.thoughts .line {
     width: 5rem;
     height: 0.3rem;
     background-color: orangered;
}

.thoughts h3,
h2 {
     font-size: 25px;
     padding: 0.5rem;
}


/* FITNESS SECTION */

/*------------------------------STRTING FITNESS SECTION----------------------------------*/
#main-fitness {
     background: url('Image/fullGym.png');
     background-size: cover;
     background-attachment: fixed;
}

.fitness-head {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 1rem;
}


.fitness-head .line {
     width: 20rem;
     height: 0.3rem;
     background-color: orangered;
}

.fitness-head h4 {
     text-align: center;
     font-size: 30px;
     color: #68255e;
}


/*------------------------------GYM CLASS----------------------------------*/

.gym {
     width: 100%;
     height: auto;
     display: grid;
     place-items: center;
     grid-template-areas:
          'one two three';
     margin-top: 2.4rem;
}

.gym-intro {
     background-color: rgba(245, 245, 245, 0.541);
     margin-bottom: 2.4rem;
     width: 85%;
     height: 25rem;
     font-size: 45px;
     text-align: center;
}

#gym1 {
     grid-area: one;
}

#gym2 {
     grid-area: two;
}

#gym3 {
     grid-area: three;
}

.visibilityForIntro {
     visibility: hidden;
}

.visible {
     visibility: "visible";
}

.more-about {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 3.7vw;
     width: 100%;
     height: auto;
     color: whitesmoke;
     background-color: blue;
}

#just {
     margin-top: 4.5vw;
}

.more-about h6 {
     padding-top: 5px;
     font-size: 21px;
}

.more-about i {
     font-size: large;
     transition: 5s ease-in-out 0;
}

i:hover {
     transform: scale(1.1);
}

.aniForGymInfo {
     animation: aniForGymInfo 1s ease-out 1;
}

@keyframes aniForGymInfo {
     0% {
          transform: translateY(50%);
          opacity: 0;
     }

     100% {
          transform: translateY(0%);
          opacity: 1;
     }
}

.aniForGymIntro {
     animation: gymIntroAni 1s ease-out 1;
}

@keyframes gymIntroAni {
     0% {
          transform: translateY(-50%);
          opacity: 0;
     }

     100% {
          transform: translateY(0%);
          opacity: 1;
     }
}

.gym-intro p {
     padding: 2vw;
     font-size: 20px;
     color: black;
     font-family: 'Quicksand';
}


/*------------------------------YOGA CLASS----------------------------------*/

.yoga {
     display: grid;
     place-items: center;
     grid-template-areas:
          'one two'
     ;
     background: linear-gradient(to bottom , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0.4)), url('Image/yogaback.jpg');
     background-size: cover;
     height: auto;
     width: auto;
}

.yoga .yogaOne {
     grid-area: one;
     width: 100%;
     margin-left: 3rem;
}

.yoga .yogaTwo {
     margin-top: 2rem;
     width: 80%;
     height: auto;
     grid-area: two;
     margin-right: 4rem;
}

#imgYoga {
     margin-left: 3rem;
     width: 70%;
}

.info {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 1.3rem;
}

.yogaInfo-img {
     height: 5rem;
     width: 5rem;
     background-color: rgba(67, 240, 104, 0.667);
}

.yogaInfo-img span {
     color: rgb(245, 245, 245);
     font-size: 50px;
}

.h4-info {
     border-bottom: 1px solid red;
     color: #1a0033;
}

.h4-info h4{
     font-size: 26px;
}

.yoga-detail {
     color: #100F11;
     margin-left: 6.3rem;
     margin-top: -1rem;
}

.yoga-detail ul {
     margin-left: 2rem;
     margin-top: -0.6rem;
}


/* MEMBERSHIP */

#member{
     margin-top: 2.4rem;
     height: auto;
     width: 100%;
}

.selfcare{
     display: flex;
     justify-content: center;
     align-items: center ;
     color: whitesmoke;
     margin-bottom: 1.5rem;
}

.selfcare i{
     padding: 0.3rem;
     padding-bottom: 2rem;
}

/*-----------------------------MEMBERSHIP-----------------------------------*/


.main-member{
     width: 100%;
     height: auto;
}

.joinNow{
     padding-top: 1rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 0.8rem;
}

.joinNow .line{
     margin-left: 1rem;
     width: 6.4rem;
     height: 0.4rem;
     background-color: orangered;
}

.joinNow h4{
     color: whitesmoke;
}

.memberships-container{
     margin-top: 1rem;
     display: grid;
     place-items: center;
     grid-template-areas: 
          'memberone membertwo memberthree'
     ;
     transition: scale 350ms ease , opacity 350ms linear;
}

.membership{
     margin: 1rem;
     width: 23vw;
     height: 23vw;
     transition: transform 350ms ease, opacity 350ms linear;
}


#member1{
     box-shadow: 1px 1px 12px rgb(130, 130, 130), -1px 1px 12px rgb(130, 130, 130), 1px -1px 12px rgb(130, 130, 130), -1px -1px 12px rgb(130, 130, 130);     
     grid-area: memberone;
     background-image: url('Image/yoga.jpg');
     background-size: cover;
     background-position-y: center;
}
#member2{
     box-shadow: 1px 1px 12px rgb(130, 130, 130), -1px 1px 12px rgb(130, 130, 130), 1px -1px 12px rgb(130, 130, 130), -1px -1px 12px rgb(130, 130, 130);     
     grid-area: membertwo;
     background-image: url('Image/images (3).png');
     background-size: cover;
     background-position: 30%;
}
#member3{
     box-shadow: 1px 1px 12px rgb(130, 130, 130), -1px 1px 12px rgb(130, 130, 130), 1px -1px 12px rgb(130, 130, 130), -1px -1px 12px rgb(130, 130, 130);     
     grid-area: memberthree;
     background-image: url('Image/yogagym.png');
     background-size: cover;
}

/* --------------------------------MEMBERSHIP PRICE --------------------------------*/
.price{
     position: relative;
     z-index: 1;
}

.amount{
     border-left: 5px solid whitesmoke;
     border-bottom-left-radius: 50% 100%;
     border-top-left-radius: 0% 10%;
     border-bottom: 5px solid whitesmoke;
     margin-left: 12rem;
     background-color: #FFFB7D;
     height: 3.5vw;
     width: auto;
}

.amount h1{
     font-size: 2.5vw;
     text-align: center;
     padding-left: 1rem;
}

.priceAni{
     animation: priceAni 2s ease 1;
}

@keyframes priceAni {
     0%{
          transform: translateX(50%);
          opacity: 0;
     }

     100%{
          opacity: 1;
          transform: translateX(0%);
     }
}

@keyframes perAni {
     from{
          transform: translateX(50%);
          opacity: 0;
     }
     to{
          opacity: 1;
          transform: translateX(0%);
     }
}


.price .per{
     z-index: -1;
     position: relative;
     margin-top: -0.1vw;
     margin-left: 17.5vw;
     background-color:#100F11;
     border-left: 5px solid whitesmoke;
     border-bottom: 5px solid whitesmoke;
     border-bottom-left-radius: 50% 100%;
     border-top-left-radius: 0% 10%;
     height: 3vw;
}

.perAni{
     animation: perAni 2s ease 1;
}

.per p{
     font-size: 1vw;
     color: whitesmoke;
     padding-left: 0.2vw;
}

/*-----------------------------MRMBERSHIP INFO-----------------------------------*/

.membership h2{
     background: rgb(0,163,204);
     background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
     -webkit-text-fill-color: transparent;
     background-clip: text;
     padding-left: 1vw;
     padding-top: 1vw;
}

.member-info{
     background: linear-gradient(90deg, rgba(131, 58, 180, 0.683) 0%, rgba(253,29,29, 0.683) 50%, rgba(252,176,69, 0.683) 100%);
     margin-top: 12.7vw;
     position: relative;
     height: 3.9vw;
     width: 100%;
     transition: all 1s;
}

.member-info:hover{
     transform: translateY(-100%);
}

.para-msg{
     height: 4.1vw;
     background: linear-gradient(90deg, rgba(131, 58, 180, 0.683) 0%, rgba(253,29,29, 0.683) 50%, rgba(252,176,69, 0.683) 100%);
     margin-top: -0.9vw;
}    

.para-msg p{
     background: rgb(131,58,180);
     background-color: #85FFBD;
     background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
     background-clip: text;
     -webkit-text-fill-color: transparent;
     padding-top: 1vw;
     border-top : 1px solid #100F11;
     border-radius: 20%;
     font-size: 1.3vw;
     padding-left: 1vw;
}

/*-----------------------------TRAINEE-----------------------------------*/

#trainee{
     margin-top: 4rem;
}

.trainee{
     height: 30rem;
     width: 100%;
     background: linear-gradient(to bottom, #100F11, rgba(255, 255, 255, 0) , #100F11),url('Image/glow_trainee.jpg');
     background-size: cover;
     color: rgba(255, 250, 250, 0.886);
}

.trainee-head{
     margin-top: 3rem;
     margin-left: 2rem;
     height: auto;
     width: 23rem;
}

.trainee-head h4{
     padding-top: 1rem;
     color: rgb(67, 132, 218);
}

.trainee-head p{
     margin-top: 2rem;
     color : whitesmoke;
     text-align: justify;
     font-family: 'Raleway';
}

.trainee-images{
     margin-left: 27rem;
}

#trainee1{     
     position: absolute;
     top: 219.4rem;
     left: 30vw;
     height: 29rem;
     z-index: 1;
     animation: trainee1 1s ease-in-out 0s 1;
}

#trainee2{
     position: absolute;
     top: 224.6rem;
     left: 45vw;
     height: 21rem;
     animation: trainee2 1s ease-in-out 0.5s 1;
}

#trainee3{
     position: absolute;
     top: 220.6rem;
     left: 61vw;
     height: 25rem;
     animation: trainee3 1s ease-in-out 1s 1;
}

#trainee4{
     position: absolute;
     top: 223.5rem;
     left: 72vw;
     height: 22rem;
     animation: trainee4 1s ease-in-out 1.5s 1;   
}

.trainee-name{
     margin-left: 25rem;
     display: flex;
     gap: 3rem;
}

.name{
     height: 4.5rem;
     width: 11rem;
     color: whitesmoke;
     z-index: 1;
     background-color: rgba(0, 0, 0, 0.8);
}

.name h3{
     padding-left: 0.5rem;
     color: whitesmoke;
}

.name h6{
     font-size: 15px;
     padding-left: 1rem;
     color: #85FFBD;
}

.name:nth-child(1){
     margin-top: 2rem;
}

.name:nth-child(2){
     margin-top: -1rem;
     margin-left: 2rem;
}

.name:nth-child(3){
     margin-top: 5rem;
     margin-left: -3rem;
}

.name:nth-child(4){
     margin-top: 2rem;
}

/* @keyframes trainee1 {
     from{
          transform: translateY(50%);
          opacity: 0;
     }
     to{
          transform: translateY(0%);
          opacity: 1;
     }
}
@keyframes trainee2 {
     from{
          transform: translateY(50%);
          opacity: 0;
     }
     to{
          transform: translateY(0%);
          opacity: 1;
     }
}
@keyframes trainee3 {
     from{
          transform: translateY(50%);
          opacity: 0;
     }
     to{
          transform: translateY(0%);
          opacity: 1;
     }
}
@keyframes trainee4 {
     from{
          transform: translateY(50%);
          opacity: 0;
     }
     to{
          transform: translateY(0%);
          opacity: 1;
     }
} */

/*------------------------------TESTIMONIAL-------------------------------*/

.testimonial{
     height: auto;
     width: 100%;
     display: grid;
     place-content: center;
     grid-template-areas: 
          'one two three'
          'four five six';
     gap: 20px;     
     color: whitesmoke;
}

.teste{
     background-color: rgba(48, 48, 47, 0.255);
     height: 25vw;
}

.teste:nth-child(1){
     grid-area: one;
}
.teste:nth-child(2){
     grid-area: two;
}
.teste:nth-child(3){
     grid-area: three;
}
.teste:nth-child(4){
     grid-area: four;
}
.teste:nth-child(5){
     grid-area: five;
}
.teste:nth-child(6){
     grid-area: six;
}

.LightQuote{
     width: 9vw;
}

.user-Image{
     padding: 5px;
     width: 8vw;
     border: 5px solid #d7c2a4;
}

.reply p{
     font-family: 'Titillium Web', sans-serif;
     height: 13vw;
     padding: 1vw;
     padding-top: 2vw;
     font-size: 1.15vw;
     line-height: 2vw;
     letter-spacing: 0.1vw;
     word-spacing: 0.1vw;
     text-align: justify;
     text-indent: 5vw;
}

.nameOfteseter .joinNow{
     justify-content: flex-end;
     padding-top: 0rem;
     margin-top: 2vw;
     margin-right: 1rem;
}

.nameOfteseter .line{
     margin-left: 1rem;
     width: 7vw;
     height: 0.35vw;
     background-color: orangered;
}

.nameOfteseter h6 , #replay h4{
     color: whitesmoke;
     font-family: 'Lemon', serif;
}

#replay {
     background-image: url('Image/LightQuoteDark.png');
     background-repeat: no-repeat;
     background-position: top 10% left 0%;
}

/*TESTIMONIAL OF MEDIA */

#replay .card {
     margin-top: 10px;
     background-color: transparent;
     height: 150vw;
     text-align: justify;
     border: none;
}

#replay .card img{
     box-shadow: 2px 2px 3px #d7c2a4, -2px 2px 3px #d7c2a4, 2px -2px 3px #d7c2a4, -2px -2px 3px #d7c2a4;
     width: 23vw;
     margin-left: 4vw;
}    

#replay .card p{
     font-family: 'Titillium Web', sans-serif;
     color: rgb(209, 209, 209);
     height: auto;
     font-size: 5.5vw;
     font-weight: 900;
     padding-top: 2vw;
     line-height: 10vw;
     letter-spacing: 0.5vw;
     text-indent: 10vw;
}

/*------------------------------MEDIA-SCREEN-------------------------------*/

@media screen and (max-width:500px) {
     #home .card img {
          width: 19%;
     }

     .gym {
          grid-template-areas:
               'one'
               'two'
               'three';
          row-gap: 1rem;
     }

     .line {
          width: 0rem;
          height: 0rem;
          background-color: '';
     }

     .thoughts {
          margin-top: 3rem;
     }

     .thoughts h2 {
          font-size: 20px;
          padding: 0.5rem;
     }

     .fitness-head {
          display: '';
          justify-content: '';
          align-items: '';
          margin-top: 1.3rem;
     }
     
     .fitness-head .line {
          width: 0rem;
          height: 0rem;
     }
     
     .fitness-head h4 {
          font-size: 21px;
     }
     
     .more-about {
          margin-top: 3.9ch;
     }

     #just {
          margin-top: 6.2rem;
     }

     .yoga {
          grid-template-areas:
               'two'
               'one';
     }

     #imgYoga {
          margin-left: 1rem;
          width: 80%;
     }

     .yoga .yogaOne {
          margin-left: 1rem;
     }

     .yoga .yogaTwo {
          margin-top: 2rem;
          width: 100%;
          margin-right: 0rem;
     }

     .info {
          gap: 1rem;
     }

     .yoga-detail {
          margin-left: 6rem;
          margin-top: 0rem;
     }
     
     .yoga-detail ul {
          margin-left: 1rem;
          margin-top: -0.6rem;
     }

     .selfcare{
          margin-bottom: 1.5rem;
     }
     
     .selfcare i{
          padding: 0rem;
          padding-bottom: 1.5rem;
     }

     .selfcare h2{
          font-size: 17px;
          text-align: center;
     }

     .memberships-container{
          grid-template-areas: 
               'memberone' 'membertwo' 'memberthree'
          ;
     }

     .membership{
          margin: 1rem;
          width: 90%;
          height: 65vw;
     }

     .para-msg p{
          font-size: 15px;
     }

     .amount{
          margin-left: 38vw;
     }

     .price .per{
          margin-top: -0.1rem;
          margin-left: 51vw;
          height: 11vw;
     }

     .per p{
          font-size: 0.9rem;
          text-align: center;
          padding-top: 0.3rem;
          padding-left: 0.1rem;
     }

     .amount{
          margin-left: 43vw;
          height: 11vw;
     }

     .amount h1{
          font-size: 2.5vw;
          text-align: center;
          padding-left: 2vw;
     }

     .amount h1{
          font-size: 2rem;
          padding-left: 0.7rem;
     }

     .member-info{
          margin-top: 28.9vw;
          height: 15vw;
     }

     .membership h2{
          padding-top: 2.5vw;
     }
          
     .para-msg{
          height: 3.5rem;
          margin-top: -0.37rem;
     }    

     .para-msg p{
          padding-top: 0.5rem;
          font-size: 17.5px;
          padding-left: 0.5rem;
     }

     .trainee{
          height: 35rem;
     }
     
     .trainee-head{
          width: 19rem;
     }
     
     .trainee-images{
          margin-left: 0rem;
     }
     
     #trainee1{     
          top: 710.2ch;
          left: -1rem;
          height: 35ch;
     }
     
     #trainee2{
          top: 717.3ch;
          left: 6rem;
          height: 25ch;
     }
     
     #trainee3{
          top: 709ch;
          left: 27ch;
          height: 33ch;
     }
     
     #trainee4{
          top: 718.5ch;
          left: 30ch;
          height: 13rem;
     }
     
     .trainee-name{
          margin-left: 0rem;
          gap: 0rem;
     }
     
     .name{
          height: 3rem;
          width: auto;
     }
     
     .name h3{
          font-size: 4.3vw;
          padding-left: 0.2rem;
     }
     
     .name h6{
          font-size: 2.4vw;
          padding-left: 0.21rem;
     }
     
     .name:nth-child(1){
          margin-top: 8.5rem;
     }
     
     .name:nth-child(2){
          margin-top: 12rem;
          margin-left: 0rem;
     }
     
     .name:nth-child(3){
          margin-top: -0.3rem;
          margin-left: -0.5rem;
     }
     
     .name:nth-child(4){
          margin-top: 12rem;
     }

     .testimonial{
          grid-template-areas: 
               'one' 'two' 'three'
               'four' 'five' 'six';
     }
}
